html {
  background-color: #076324;
  background-image: url("http://www.transparenttextures.com/patterns/black-felt.png");
}

* {
	box-sizing: border-box;
}

#game-box {
	text-align: center;
	position: absolute;
	margin: auto;
	margin-top: 10%;
	margin-left: 42%;
	
}

.card {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 71px;
}

.reverse {
 width: 97px;
 height: 71px;
 background: radial-gradient(#ff0000, #ffffff);
 border-style: solid;
 border-color: black;
}

.empty {
 width: 71px;
 height: 97px;
 background: radial-gradient(#00ff00, #0000ff);
 border-style: solid;
 border-color: black;
}

.A_C {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -2px -1px;
}

.2_C {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -75px -1px;
}

.3_C {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -148px -1px;
}

.4_C {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -220px -1px;
}

.5_C {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -294px -1px;
}

.6_C {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -366px -1px;
}

.7_C {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -440px -1px;
}

.8_C {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -512px -1px;
}

.9_C {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -586px -1px;
}

.10_C {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -658px -1px;
}

.J_C {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -732px -1px;
}

.Q_C {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -804px -1px;
}

.K_C {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -878px -1px;
}

.A_H {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -2px -99px;
}

.2_H {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -75px -99px;
}

.3_H {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -148px -99px;
}

.4_H {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -220px -99px;
}

.5_H {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -294px -99px;
}

.6_H {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -366px -99px;
}

.7_H {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -440px -99px;
}

.8_H {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -512px -99px;
}

.9_H {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -586px -99px;
}

.10_H {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -658px -99px;
}

.J_H {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -732px -99px;
}

.Q_H {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -804px -99px;
}

.K_H {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -878px -99px;
}

.A_S {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -2px -197px;
}

.2_S {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -75px -197px;
}

.3_S {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -148px -197px;
}

.4_S {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -220px -197px;
}

.5_S {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -294px -197px;
}

.6_S {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -366px -197px;
}

.7_S {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -440px -197px;
}

.8_S {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -512px -197px;
}

.9_S {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -586px -197px;
}

.10_S {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -658px -197px;
}

.J_S {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -732px -197px;
}

.Q_S {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -804px -197px;
}

.K_S {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -878px -197px;
}

.A_D {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -2px -295px;
}

.2_D {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -75px -295px;
}

.3_D {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -148px -295px;
}

.4_D {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -220px -295px;
}

.5_D {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -294px -295px;
}

.6_D {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -366px -295px;
}

.7_D {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -440px -295px;
}

.8_D {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -512px -295px;
}

.9_D {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -586px -295px;
}

.10_D {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -658px -295px;
}

.J_D {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -732px -295px;
}

.Q_D {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -804px -295px;
}

.K_D {
 width: 71px;
 height: 97px;
 background: url(resources/windows-playing-cards.png) -878px -295px;
}

.discarded:nth-child(1) {
	z-index: -5;
	position: relative;
	
}

.discarded:nth-child(2) {
	z-index: -4;
	position: absolute;
	transform: translate(-75%);
}

.discarded:nth-child(3) {
	z-index: -3;
	position: absolute;
	transform: translate(-50%);
}

.discarded:nth-child(4) {
	z-index: -2;
	position: absolute;
	transform: translate(-25%);
}

.discarded:nth-child(5) {
	z-index: -1;
	position: relative;
}


